* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 5;
  position: absolute;
  right: 400px;
  bottom: 100px;
}

.cards {
  background: linear-gradient(
    93.45deg,
    rgba(7, 160, 129, 0.4) 7.83%,
    rgba(255, 255, 255, 0) 100%
  );
}

.text {
  color: rgba(64, 65, 70, 1);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

.mart {
  color: rgba(7, 160, 129, 1);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

.font {
  background: rgba(255, 255, 255, 0.4);
}

.overlay {
  top: 100%;
  right: 100%;
  left: 10px;
  opacity: 0;
  position: absolue;

  transition: 0.4s ease-in-out;
  background-color: black;
  cursor: pointer;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container:hover .overlay {
  opacity: 0.8;
}
